/*Header*/
header {
	border-bottom: 1px solid #d0d0d0;
}
header .nav {
	border-bottom: 1px dashed black; 
}
header .nav-item{
	border-right: 1px solid black;
}
header .nav-item:last-child {
	border: none;
}

header .nav-link {
	font-size: 13px;
	color: black;
	font-family: Roboto, sans-serif;
	font-weight: 500;
}

header .nav-link:hover {
	color: green;
}

header .btn {
	border-radius: 0;
	background: white;
	border: 1px solid grey;
}

header .btn:hover {
	/*border-color: green;*/
	background: white;
	box-shadow: 0px 0px 4px black;
	cursor: pointer;
}

/*Navigator*/
nav .nav-link, .dropdown-item {
	font-family: Roboto, sans-serif;
	color: black !important;
	font-weight: 500;
	font-size: 14px;
}

nav .active {
	color: green !important;
}

nav .nav-link:hover {
	color: green !important;
}

/*Section*/

/*Carousel*/
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.breadcrumb{
	font-size: 12px;
	font-weight: 400;
}

.breadcrumb a{
	color: black;
}

.breadcrumb a:hover{
	color: green;
	text-decoration: none;
}

/*Pocity*/

section .pocity-item{
	font-size: 1.5rem;
}

section {
	background: url("../images/bg.jpg");
}

section .product-item-content {
	overflow: hidden;
	position: relative;
}

section .product-item-content h4 {
	font-size: 17px;
	position: absolute;
	top:3px;
	left: 7px;
}

section .product-item-content .xanh{
	position: absolute;
	top:0;
	left:0;
	transition: all 0.8s ease;
	background: rgba(0,0,0,0.15);
	width: 800px;
	height: 800px;
	opacity: 0;
}

section .product-item-content .trang{
	width: 700px;
	height: 400px;
	transition: all 0.6s ease;
	background: rgba(255,255,255,0.63);
	top:-431px;
	left:320px;
	transform: rotate(45deg);
	position: absolute;
}

section .product-item:hover .trang{
	top: 251px;
	left: -620px;
}

section .product-item:hover .product-image-tem{
	transform: scale(1.3);
	transition-delay: 0.3s; 
}

section .product-item:hover .xanh{
	opacity: 1;
}
section .product-item:hover {
	box-shadow: 0 0 1px grey;
	cursor: pointer;
}

/*Footer*/
footer {
	background: #212121;
	font-family: Roboto , sans-serif;
	font-size: 14px;
	color: grey;
}
footer h4 {
	/*font-family: Roboto , sans-serif;*/
	font-size: 16px;
	font-weight: 600;
}

footer .social-icon{
	text-align: center;
	display: inline-block;
	width: 29px;
	height: 29px;
	border: 1px solid grey;
	border-radius: 50%;
	color: grey;
	font-size: 16px;
}

footer .social-icon i{
	line-height: 28px;
}

footer .social-icon:hover i{
	transition: 1s;
	transform: rotate(360deg);
	color: white;
}

footer .footer-copyright{
	background: black;
}